  
  body{
    font-family: merriweather-light;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1em;
    background-color: #ddd;
  }

  h1 {
    font-family: merriweather-light;
    margin: 0;
  }
  

  .hero {
    display: inline-block;
    border: 2px solid #444;
    padding: .5rem 1.25rem;
    margin: .25rem;
    font-weight: 400;
    transition: all .2s ease-in-out; 
  }

  .hero:hover { 
    transform: scale(1.1); 
    font-weight: 700;
    }

    .hero-pagination {
        text-transform: uppercase;
        margin-top: .25rem;

    }
    .hero-pagination a {
        link-style: none;
        text-decoration: none;
    }

    .hero-specializations {
        margin: 0;
        text-transform: uppercase;
    }

