


body {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  font-family: "Merriweather", serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NAVIGATION */

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation a {
  text-decoration: none;
}

.nav-item {
  padding: .5rem 1.5rem;
  margin: 0 1rem;
}

/* PAGINATION */

.pagination {
  text-transform: uppercase;
  font-weight: 700;
}



.hero-section {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  margin: 0 auto;
  max-width: 1080px;
  align-items: center;
}

.hero-left {
  max-width: 40%;
}

.hero-right img {
  display: block;
  width: 200px;
  max-width:100%;
}

.nav-home {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 75%;
  flex-wrap: wrap;
  margin: 2rem auto 0;
}

.btn-nav {
  border: 2px solid black;
  min-width: 175px;
  text-align: center;
  text-decoration: none;
  margin: .5rem;
}

.heroes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 75%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.hero {
  border: 2px solid black;
  min-width: 150px;
  text-align: center;
  text-decoration: none;
  padding: .5rem 0;
  margin: 2rem;
  align-items: flex-start;
  font-size: 1.25rem  ;
  
}

.hero-frame {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  padding: .25rem;
}

.hero-btn img {
  width: 100%;
  height: 100%;
}

.heroes-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.hero-container {
  max-width: 100px;
  padding: .25rem;
  border: 1px solid black;
  margin: .5rem;
}

.hero-container a {
  text-decoration: none;
}

.hero-container a:link,
.hero-container a:visited {
  color: #000;
}

.hero-image {
  border: 1px solid black;
}

.hero-image img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.hero-name p {
  text-align: center;
  margin: .5rem auto;
}

.social-discord {
  height: 25px;
  border: 2px solid #000;
  padding: .5rem 1rem;
  max-width: 150px;
  margin: 0 auto;
}

.social-discord img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}


